.header {
    color: #fff;
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    font-size: 2.5em;
    line-height: 0.8em;
    padding: 0.5em 0;
}

.icon-logo {
    display: inline-block;
    height: 60px;
    padding-right: 20px;
    width: 60px;
}

.header span:first-child {
    margin-left: -2px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1040px;
    font-family: sans-serif;
}

.nav-links {
    border-bottom: 1px solid #fff;
    display: flex;
    list-style: none;
    padding-left: 0;
}


.nav-link-item {
    padding: 1rem;
}

.nav-link-item a {
    text-decoration: none;
}

.nav-link-item:hover {
    background-color: #fff;
}

.nav-link-item:hover a {
    color: #006a69;
}

.nav-links-social {
    display: flex;
    list-style: none;
    padding: 0 1em;
}

.social-item {
    padding: 0 0.5em;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.heading {
    display: block;
}

.icon {
    display: inline-block;
    height: 20px;
    width: 20px;
}